.main {
	padding: 2rem 1rem;
	min-height: 100vh;
	background-color: #ffffff;
}

.container {
	margin: auto;
	max-width: 27.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 3rem;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 2rem;
}

.title {
	color: #2e2e2e;
	text-align: center;
	font-size: 2rem;
	font-weight: 600;
}

.button {
	background-color: #ff0b0b;
	border: 3px solid #959595;
	border-radius: 0.75rem;
	color: #ffffff;
	padding: 0.5rem 1rem;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.button:hover {
	background-color: transparent;
	border: 1px solid #959595;
	color: #959595;
	transition: color 1s;
}

.text {
	color: #2e2e2e;
	font-size: 0.80rem;
	text-align: center;
	font-weight: 400;
}

.text a {
	font-weight: 500;
}

.back {
	position: absolute;
	left: 1rem;
	top: 2rem;
}

.logo {
	background-color: #2e2e2e;
	height: 10rem;
	width: 10rem;
	border-radius: 50%;
	display: grid;
	place-content: center;
	color: #ffffff;
}
.inputContainer {
	display: flex;
	flex-direction: column;
	row-gap: 0.25rem;
	width: 100%;
}

.input {
	width: 100%;
	padding: 0.5rem 1rem;
	border: 1px solid #959595;
	border-radius: 0.25rem;
	font-size: 1rem;
	color: #2e2e2e;
	font-weight: 400;
	outline: none;
	resize: none;
}

.input::placeholder {
	color: #959595;
}

.linkContainer {
	display: flex;
	margin-top: 0.25rem;
	column-gap: 1rem;
	align-items: center;
}

.radioContainer {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}

.label {
	color: #2e2e2e;
	font-size: 0.85rem;
	text-align: center;
	font-weight: 400;
}

.error {
	color: #d44040;
	padding: 0.25rem;
	font-size: 0.85rem;
	text-align: left;
	font-weight: 400;
}


/* ================================================================= LOGIN IN WITH*/

.socialLoginButtons {
	margin-top: 20px;
	text-align: center;
  }
  
  .loginSpan {
	display: block;
	font-size: 16px;
	margin-bottom: 20px;
	color: #555;
  }
  
  .socialButtonContainer {
	display: flex;
	justify-content: center;
	gap: 10px;
  }
  
  .socialButton { 
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	font-size: 14px;
	border-radius: 5px;
	transition: background-color 0.3s, color 0.3s;
  }
  
  .googleButton {
	background-color: #DB4437;
	color: white;
  }
  
  .appleButton {
	background-color: black;
	color: white;
  }
  
  .facebookButton {
	background-color: #1877F2;
	color: white;
  }
  
  .socialButton:hover {
	background-color: #333;
	color: white;
  }
  
  
  .logoContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: grid;
	place-content: center;
	margin-bottom: 1rem;
  }
  
  .logo {
	width: 150px; /* Ajusta el tamaño según tus necesidades */
	height: 150px;
	border-radius: 50%;
	border: 2px solid #ccc;
  }
  